body{
    margin: 0;
}
.contenedor-prejuego-aus{
   background-image: url('../imagenes/fondo.png'); /* Cambia esto por la ruta de tu imagen */
  background-size: auto; /* Mantiene el tamaño original de la imagen */
  background-repeat: repeat; /* Hace que la imagen se repita */
  background-position: top left; /* Posiciona la imagen en la esquina superior izquierda */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */ 
}
.contenedor-texto-aus{
    margin-top: 60px;
    width: 280px;
    margin-bottom: 60px;
}
.titulo-aus{
  font-family: 'American Typewriter', serif;
  font-size: 43px; /* Tamaño del texto */
  font-weight: 600;
  text-align: center; /* Centra el texto */ /* Espacio debajo del título */
  margin: 0;
  }
.contenedor-prejuego-aus .boton{
      font-size: 38px;
      height: 100px;
    }
    

  @media (min-width: 900px) {
    .titulo-aus{
      font-size: 52px
    }
    .contenedor-texto-aus{
      width: 300px;
    }
    .contenedor-prejuego-aus .boton{
      margin-top: 30px;
      font-size: 50px;
      width: 300px;
      height: 130px;
    }
    
  }