body{
    margin: 0;
    padding: 0;
}
.contenedor-duelo{
    background-image: url('../imagenes/fondo.png'); /* Cambia esto por la ruta de tu imagen */
  background-size: auto; /* Mantiene el tamaño original de la imagen */
  background-repeat: repeat; /* Hace que la imagen se repita */
  background-position: top left; /* Posiciona la imagen en la esquina superior izquierda */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  display: flex;
  justify-content: center;
}
.jugador{display: flex; /* Sin comillas */
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  width:150px;
  height:250px;
}
  .maquina{
    transform: scaleY(-1);
    width:150px;
  height:250px;
  }

  @media (min-width: 900px) { 
    .jugador,.maquina{
      width: 250px;
      height: 360px;
    }
  }