body{
    margin: 0;
}
.contenedor-home{
    background-image: url('../imagenes/fondo.png'); /* Cambia esto por la ruta de tu imagen */
  background-size: auto; /* Mantiene el tamaño original de la imagen */
  background-repeat: repeat; /* Hace que la imagen se repita */
  background-position: top left; /* Posiciona la imagen en la esquina superior izquierda */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */

}
.contenedor-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 280px;
    margin-top: 30px;
    margin-bottom: 40px;
    
}
.titulo1 ,.titulo2,.titulo3{
font-family: 'American Typewriter', serif;
  font-size: 70px; /* Tamaño del texto */
  font-weight: 600;
  text-align: center; /* Centra el texto */ /* Espacio debajo del título */
  margin: 0;
  color: #009048;
}
.contenedor-home .boton{
  margin-bottom: 200px;
}


  @media (min-width: 900px) {
   .titulo1 ,.titulo2,.titulo3{
    font-size: 70px;
   }
   .contenedor-home .boton{
  margin-top: 100px;
  }

   .contenedor-titulo{
    width: 200px;
    margin-top: 130px;
   }
   .titulo1,.titulo2,.titulo3{
    font-size: 90px;
   }
   .contenedor-home .piedra{
      width: 150px;
      height: 250px;
    }
    .contenedor-home .papel{
      width: 150px;
      height: 250px;
    }
    .contenedor-home .tijera{
      width: 150px;
      height: 250px;
    }
    
  }