.perd-jugador-gnt{
    display: flex; /* Sin comillas */
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  width:150px;
  height:250px;
}

  .perd-maquina-gnt{
    align-items: flex-start;
  position: fixed; /* queda fija en la pantalla */
  top: 0%;
  transform: scaleY(-1);
  width:150px;
  height:250px;
  }
   

  .perd-contenedor-duelo {
    background-image: url('../imagenes/fondo.png'); /* Cambia esto por la ruta de tu imagen */
  background-size: auto; /* Mantiene el tamaño original de la imagen */
  background-repeat: repeat; /* Hace que la imagen se repita */
  background-position: top left; /* Posiciona la imagen en la esquina superior izquierda */
  height: 100vh; /* ocupar toda la altura de la ventana */
  position: relative; /* para el overlay */
   overflow: hidden; /* bloquea el scroll */
  height: 100vh; /* para que ocupe toda la pantalla */
  margin: 0;
  padding: 0;
}

.perd-overlay-rojo {
  position: absolute; /* o fixed, según convenga */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #894949E5; /* verde transparente */
  z-index: 1; /* está atrás */
}
.perd-total-escore{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.perd-score {
  width: 170px;
  position: relative; /* para que z-index funcione */
  z-index: 2; /* está arriba del overlay */
  background-color: rgba(255, 255, 255, 0.8); /* ejemplo de fondo para que se vea */
  border: solid,4px,black;
  padding: 10px;
  border-radius: 5px;
}
.perd-contenedor-duelo .boton{
  width: 200px;
  height: 30px;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 200px;
}
.cartel-perdedor{
  margin-top: 100px;
  width: 250px;
  height: auto;
  z-index: 2; /* está arriba del overlay */
  padding: 10px;
 position: relative;
}
@media (min-width: 900px) {
  .jugador-gnt{
    width: 250px;
    height: 350px;
  }
  .maquina-gnt{
    width: 250px;
    height: 350px;
  }
  .perd-cartel-ganador{
    width: 420px;
  }
  .perd-score{
    width: 350px;
    font-size: 35px;
  }
  .perd-contenedor-duelo .boton{
    font-size: 45px;
    width: 400px;
    height: 60px;
  }
}