body{
    margin: 0;
}
.contenedor-prejuego{
   background-image: url('../imagenes/fondo.png'); /* Cambia esto por la ruta de tu imagen */
  background-size: auto; /* Mantiene el tamaño original de la imagen */
  background-repeat: repeat; /* Hace que la imagen se repita */
  background-position: top left; /* Posiciona la imagen en la esquina superior izquierda */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */ 
}
.contenedor-texto{
    margin-top: 60px;
    width: 280px;
    margin-bottom: 60px;
}
.titulo {
  font-family: 'American Typewriter', serif;
  font-size: 35px; /* Tamaño del texto */
  font-weight: 600;
  text-align: center; /* Centra el texto */ /* Espacio debajo del título */
  margin: 0;
  }


  @media (min-width: 900px) {
    .titulo{
      font-size: 50px
    }
    .contenedor-texto{
      width: 300px;
    }
    .contenedor-prejuego .boton{
      margin-top: 30px;
      font-size: 50px;
    }
    .contenedor-prejuego .piedra{
      width: 150px;
      height: 250px;
    }
    .contenedor-prejuego .papel{
      width: 150px;
      height: 250px;
    }
    .contenedor-prejuego .tijera{
      width: 150px;
      height: 250px;
    }
  }